{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
  
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
          <h8 class="font-weight-bold mb-5 m-2 text-center text-lg-start"> 👤 {{username}} </h8>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddFriend">
           +👥
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="AddFriend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Znajdź znajomego 👥 </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="modal-body">
                    <input type="text"  class="form-control" id="addF"  name='addF' maxlength ="32">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="choose()" class="btn btn-primary">Wybierz</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
                <ul class="list-unstyled mb-0"></ul>
                {%for chat in chats%}
                    <li class="p-2 border-bottom" {% if chat.getActive() %} style="background-color: #eee;" {% endif %}>
                        <a href="/chat?chch={{chat.getNameHTML()}}"  class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="https://i.pinimg.com/originals/75/40/81/754081d638bff31629e6577dee25ad68.png" alt="avatar"
                              class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="50" height="50">
                            <div class="pt-1">
                              <p class="fw-bold mb-0">{{chat.getName()}}</p>
                              <p class="small text-muted">{{chat.getLastMsg()}}</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">{{chat.getLastMsgDate()}}</p>
                            {% if chat.getNewMsg() %} <span class="badge bg-danger float-end">✉️</span> {% endif %}
                          </div>
                        </a>
                    </li>
                {%endfor%}
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-7 col-xl-8">
          <ul class="list-unstyled">

            <!-- Chat -->
            {%for msg in Msgs%}
            {% if msg.getMe() %}
            <li class="d-flex justify-content-between mb-4">
              <img src="https://i.pinimg.com/originals/75/40/81/754081d638bff31629e6577dee25ad68.png" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60" height="60">
              <div class="card flex-fill">
                <div class="card-header d-flex justify-content-between p-3">
                  <p class="fw-bold mb-0">{{msg.getName()}}</p>
                  <p class="text-muted small mb-0"> {{msg.getDate()}}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{msg.getMsg()}}
                  </p>
                </div>
              </div>
            </li>
            {% else %}
            <li class="d-flex justify-content-between mb-4">
              <div class="card flex-fill">
                <div class="card-header d-flex justify-content-between p-3">
                  <p class="fw-bold mb-0">{{msg.getName()}}</p>
                  <p class="text-muted small mb-0">{{msg.getDate()}}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{msg.getMsg()}}
                  </p>
                </div>
              </div>
              <img src="https://i.pinimg.com/originals/75/40/81/754081d638bff31629e6577dee25ad68.png" alt="avatar"
                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" height="60">
            </li>
            {% endif %}
            {% endfor %}





            <form action="/chat?chch={{request.args.get('chch')}}"  method="post">
            <li class="d-flex justify-content-between mb-3">
              <div class="card w-100">
                <input type="text"  class="form-control" id="msgBox"  name='msgBox' maxlength ="128">
              </div>
              <input type="submit" class="btn btn-info btn-rounded float-end" value="Send" >
            </li>
            </form>
          </ul>
          <div class="float-right">
            <form method="get">
              <ul>
                <li class="d-flex justify-content-between mb-3">
                  <input type="submit" name="act_button" onClick="add()" value="<">
                  <input type="button" name="ref" onClick="window.location.href = window.location.href" value="♻️">
                  <input type="submit" name="act_button" onClick="sub()" value=">">
                </li>
              </ul>
            </form>
          </div>
          
        </div>
  
      </div>
  
    </div>
  </section>
  <script>
    function choose() {
      let x = document.getElementById("addF").value;
      const info = x.split('#');
      window.location.href = "/chat?chch="+info[0] + "-"+info[1];
    }
    function add() {
      const urlParams = new URLSearchParams(queryString);
      let page = urlParams.get('page');
      if(Number.isInteger(page))
      {
        page+=1;
      }else {
        page = 0;
      }
      urlParams.set('page', page);
      window.location.href = window.location.href;
    }
    function sub() {
      const urlParams = new URLSearchParams(queryString);
      let page = urlParams.get('page');
      if(Number.isInteger(page) )
      {
        if(page > 1){
          page -=1;
        }else{
          page=0;
        }
      }
      else{
        page = 0;
      }
      urlParams.set('page', page);
      window.location.href = window.location.href;
    }
  </script>
{% endblock %}